@import "tailwindcss";

:root {
  /* Background */
  --bg-primary: #1e1e1e;
  --bg-secondary: #303030;

  /* Text */
  --text-primary: #e0e0e0;
  --text-secondary: #475569;

  /* Border */
  --border-color: #e2e8f0;

  /* Primary */
  --primary: #6552f4;
  --primary-hover: #2563eb;

  /* Success */
  --success: #22c55e;

  /* Danger */
  --danger-primary: #ef4444;
  --danger-secondary: #ffebee;

  /* Warning */
  --warning: #f59e0b;


  /* Fonts */
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text-primary);
  background: var(--bg-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}
